<app-cabecera></app-cabecera>

<p-accordion>
  <p-accordionTab header="Quien soy?" [selected]="true">
    <div id ="quiwn"class="container-fluid bg-1 text-center">
      <h3 class="margin">Gustavo Rotela</h3>
      <img src="./assets/imagenes/quiensoy.jpg" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="350" height="350">
      <h3>Soy Un alumno de la UTN FRA</h3>
    </div>
  </p-accordionTab>
  <p-accordionTab header="Juego propio">
    <div>Mi juego funciona de la siguiente manera: le damos a iniciar e iremos ordenando los 4 números que nos aparece en pantalla de menor a mayor, para ello tenemos 5 segundos:
      en el caso de que lo hayamos hecho dentro de los 5 segundos y el orden esté correcto, al terminar dicho tiempo, se avanzará a la siguiente ronda, caso contrario, perderemos y 
      se guardará la información de nuestra partida en la base de datos.
    </div>
  </p-accordionTab>
  <p-accordionTab header="Trabajo práctico">
    <div>
      <p>Trabajo práctico Sala de Juegos de laboratorio 4, segundo cuatrimestre de 2020 </p>
    </div>
  </p-accordionTab>
  <p-accordionTab header="Dónde funciona?">
    <div class="col-sm-4"> 
      <p>Funciona en cualquier dispositivo que cuente con un navegador.</p>
      <img src="./assets/imagenes/quiensoy2.jpg" class="img-responsive margin imagenDeQuienSoy" alt="Image">
    </div>
  </p-accordionTab>
</p-accordion>