<app-cabecera>  </app-cabecera>
<br>

<p-panel header="Juegos">
  <a routerLink="/Juegos">
    <div class="media">
      <div class="media-left">
            <img src="./assets/imagenes/saladejuegos.png" class="media-object imagenDeMenu" >
      </div>
      <div class="media-body">
        <p>El método lúdico es un conjunto de estrategias diseñadas para crear un ambiente de armonía en los estudiantes que están inmersos en el proceso de aprendizaje. Este método busca que los alumnos se apropien de los temas impartidos por los docentes utilizando el juego.</p>
      </div>
    </div> 
  </a>
</p-panel>
<br>
<p-panel header="Listado">
  <a routerLink="/Listado">
    <div class="media">
        <div class="media-left">
            <img src="./assets/imagenes/listado.jpg" class="media-object imagenDeMenu" >
          </div>
        <div class="media-body">
        <p>Los listados de los resultados con ordenamiento y busqueda</p>
      </div>
    </div> 
  </a>
</p-panel>
<br>
<p-panel header="Jugadores">
  <a routerLink="/Jugadores">
    <div class="media">
        <div class="media-left">
            <img src="./assets/imagenes/jugadores.png" class="media-object imagenDeMenu" >
          </div>
        <div class="media-body">
        <p>Listado de jugadores</p>
      </div>
    </div> 
  </a>
</p-panel>