<app-cabecera></app-cabecera>
<div class="container">
    <p-card class="card" header="Anagrama" [style]="{width: '18rem'}" >
        <p-header>
            <img alt="Card" src="./assets/imagenes/Anagramas.png" style="width:100%">
        </p-header>
        <p>Juega de gramatica</p>
        <p-footer >
            <p-button label="Jugar" (click)="Juego('Anagrama')"></p-button>
        </p-footer>
    </p-card>
    <p-card class="card" header="Agilidad aritmética" [style]="{width: '18rem'}">
        <p-header>
            <img alt="Card" src="./assets/imagenes/cerebro.jpg" style="width:100%">
        </p-header>
        <p>Juego de agilidad mental</p>
        <p-footer >
            <p-button label="Jugar" (click)="Juego('Agilidad')"></p-button>
        </p-footer>
    </p-card>
    <p-card class="card" header="Piedra Papel o Tijera" [style]="{width: '18rem'}">
        <p-header>
            <img alt="Card" src="./assets/imagenes/ppt.jpg" style="width:100%">
        </p-header>
        <p>Juega contra la máquina</p>
        <p-footer >
            <p-button label="Jugar" (click)="Juego('Ppt')"></p-button>
        </p-footer>
    </p-card>
    <p-card class="card" header="Adivina el número" [style]="{width: '18rem'}">
        <p-header>
            <img alt="Card" src="./assets/imagenes/adivina.png" style="width:100%">
        </p-header>
        <p>Juega de estrategia</p>
        <p-footer >
            <p-button label="Jugar" (click)="Juego('Adivina')"></p-button>
        </p-footer>
    </p-card>
    <p-card class="card" header="Memotest" [style]="{width: '18rem'}">
        <p-header>
            <img alt="Card" src="./assets/imagenes/memotest.png" style="width:100%">
        </p-header>
        <p>Juego de memoria</p>
        <p-footer >
            <p-button label="Save" (click)="Juego('Memotest')"></p-button>
        </p-footer>
    </p-card>
    <p-card class="card" header="Tateti" [style]="{width: '18rem'}">
        <p-header>
            <img alt="Card" src="./assets/imagenes/tateti.png" style="width:100%">
        </p-header>
        <p>Juego de estrategia</p>
        <p-footer >
            <p-button label="Save" (click)="Juego('Tateti')"></p-button>
        </p-footer>
    </p-card>
    <p-card class="card" header="Ordenar" [style]="{width: '18rem'}">
        <p-header>
            <img alt="Card" src="./assets/imagenes/OrdenarNumeros.png" style="width:100%">
        </p-header>
        <p>Juego de agilidad con números</p>
        <p-footer >
            <p-button label="Save" (click)="Juego('Ordenar')"></p-button>
        </p-footer>
    </p-card>
</div>


    
    
    
    

  