<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div style="text-align:center">
  <h1>
    {{nuevoJuego.juego}}!
  </h1>
 </div>
<h2></h2>
<div class="container  animated fadeInRight" style="text-align:center;background-color: whitesmoke;margin-top: 5%">
<form class="juego">
<button name="rojo" (click)="Comprobar(0)" [ngClass]="{
    'rojo': rojo,
    'rojoOscuro': !rojo
  }"></button>
<button name="azul" (click)="Comprobar(1)" [ngClass]="{
    'azul': azul,
    'azulOscuro': !azul
  }"></button><br>
<button name="verde" (click)="Comprobar(2)" [ngClass]="{
    'verde': verde,
    'verdeOscuro': !verde
  }"></button>
<button name="amarillo" (click)="Comprobar(3)"[ngClass]="{
    'amarillo': amarillo,
    'amarilloOscuro': !amarillo
  }"></button>

<br><button class="btn btn-primary" (click)="Jugar()">Jugar</button>
</form>
</div>