<app-cabecera></app-cabecera>
<form name="juego" class="form-Usuario">
    <ul>
       <li>
        <table>
          <th><button [disabled]="clicked1" type="button" class="btn btn-primary" styleClass="p-button-sm" [hidden]="boton1" (click)="click(nuevoJuego.numeroUno); clicked1 = true;">{{nuevoJuego.numeroUno}}</button></th>
          <th><button [disabled]="clicked2" type="button" class="btn btn-primary" styleClass="p-button-sm" [hidden]="boton2" (click)="click(nuevoJuego.numeroDos); clicked2 = true;">{{nuevoJuego.numeroDos}}</button></th>
          <th><button [disabled]="clicked3" type="button" class="btn btn-primary" styleClass="p-button-sm" [hidden]="boton3" (click)="click(nuevoJuego.numeroTres); clicked3 = true;">{{nuevoJuego.numeroTres}}</button></th>
          <th><button [disabled]="clicked4" type="button" class="btn btn-primary" styleClass="p-button-sm" [hidden]="boton4" (click)="click(nuevoJuego.numeroCuatro); clicked4 = true;">{{nuevoJuego.numeroCuatro}}</button></th>
        </table>
       </li>
      <li>
        <h2 [hidden]="ocultarVerificar"><button type="button" class="btn btn-success" (click)="iniciar(); clicked1 = false; clicked2 = false; clicked3 = false; clicked4 = false">Iniciar</button></h2>
      </li>
      <li>    
        <h3 [hidden]="!juegoTerminado">llegó a la ronda {{intentos}}</h3>
        <div [hidden]="juegoTerminado"><i  class="fa fa-spinner fa-spin"></i>Esperando que ordene los números, tiempo restante: {{Tiempo}}</div>
      </li>
    </ul>
</form>